.calc {
    display: flex;
    height: 320px;
}
.ulCalc {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60px;
}

.calcBtn {
    width: 60px;
    height: 60px;
}

.ulActions {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60px;
}

.calcHistory {}